<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <form class="btn-form" action="/" method="post">
<button class ="btn" type="submit" name="button">Home</button>
</form>
<form class="btn-form" action="/work" method="post">
<button class ="btn" type="submit" name="button">Work</button>
</form>
<form class="btn-form" action="/about" method="post">
<button class= "btn" type="submit" name="button">About</button>
</form>
